@media screen and (max-width: 550px) {
  .logo-container,
  .nav-links {
    padding: 20px;
  }

  .logo-container img {
    width: 127.375px;
    height: 35.5px;
  }

  .container2img {
    background-image: url("../images/bg_mob2.jpg");
  }

  .nav-link {
    font-size: 20px;
  }

  /* Responsive Animation */
  .nav-links {
    position: absolute;
    right: 0px;
    height: 100vh;
    top: 10vh;
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    z-index: 1;
  }

  .nav-links li {
    opacity: 1;
  }

  .nav_btn {
    display: block;
  }

  .container2 {
    padding-right: 20px;
    padding-left: 20px;
  }

  .res {
    display: block;
  }

  .container2-section1 h1 {
    font-size: 25px;
    padding-top: 110px;
    padding-left: 20px;
  }

  .container2-section4 h1 {
    font-size: 20px;
    padding-top: 150px;
    padding-left: 32px;
  }

  .container3 {
    display: block;
    align-items: center;
    height: auto;
  }

  .time-select,
  .sound-picker {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    flex: 1;
    flex-wrap: wrap;
  }

  .time-select button,
  .sound-picker button {
    width: 100px;
    height: 40px;
    font-size: 15px;
    border-radius: 20px;
    border: 2px solid white;
  }

  .time-select button:hover,
  .sound-picker button:hover {
    box-shadow: 0 0 10px rgb(0, 47, 255), 0 0 15px rgb(0, 47, 255),
      0 0 25px rgb(0, 47, 255);
  }

  .player-container svg {
    height: 150px;
    width: 150px;
  }

  .time-display {
    font-size: 15px;
    top: 110px;
  }

  .player-container img {
    height: 25px;
    width: 25px;
  }

  .final-container {
    background: #000;
    padding: 40px 0px 40px 0px;
  }

  footer {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    justify-content: space-evenly;
    height: 50px;
    padding-top: 1.5625vw;
  }

  .footer_logo img {
    width: 85.375px;
    height: 25.5px;
  }

  .final-container nav {
    display: none;
  }

  .credit {
    font-size: 10px;
  }
}

/* Responsive Button Animation */
.nav-active {
  transform: translateX(0%);
}

.toggle .line1 {
  transform: rotate(45deg) translate(0px, 8.5px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(-45deg) translate(0px, -8.5px);
}
