/* To Remove Unwanted scrolls */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Sen", sans-serif;
}

/* Header */
header {
  display: flex;
  margin: auto;
  align-items: center;
  background: #000;
}

.logo-container,
.nav-links {
  display: flex;
  padding: 1.5625vw 5.729166666666667vw 1.5625vw 7.8125vw;
}

.logo-container img {
  width: 9.23828125vw;
  height: 2.7864583333333335vw;
}

.logo-container {
  flex: 1;
}

nav {
  flex: 1.5;
}

/* Menu */

.nav-links {
  justify-content: space-around;
  list-style: none;
}

.nav-link {
  text-decoration: none;
  font-size: 1.1020833333333333vw;
  color: #fff;
}
/* End of Header Section */

.container2img {
  background-image: url("../images/bg_new.jpg");
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.container2 {
  padding-right: 7.8125vw;
  padding-left: 7.8125vw;
}

.container2-sections {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.container2-sections h1 {
  color: #fff;
  font-weight: bold;
  text-shadow: 0 0 0.5208333333333334vw rgb(0, 47, 255);

  line-height: 1.5em;
}

.container2-section1 h1 {
  font-size: 3.8020833333333335vw;
  padding-top: 7.8125vw;
}

.container2-section4 h1 {
  font-size: 2.6041666666666665vw;
  padding-top: 15.625vw;
  padding-left: 13.020833333333334vw;
}

.container3 {
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 59, 1) 50%,
    rgba(0, 0, 0, 1) 100%
  );
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.time-select,
.sound-picker {
  height: 36.458333333333336vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  flex: 1;
}
.time-select button,
.sound-picker button {
  color: white;
  width: 10.416666666666666vw;
  height: 3.90625vw;
  background: none;
  font-size: 1.0416666666666667vw;
  border-radius: 1.5625vw;
  cursor: pointer;
  border: 0.15625vw solid white;
  transition: all 0.5s ease;
  outline: none;
}

.time-select button:hover,
.sound-picker button:hover {
  background: white;
  color: black;
  box-shadow: 0 0 10px rgb(0, 47, 255), 0 0 40px rgb(0, 47, 255),
    0 0 80px rgb(0, 47, 255);
}

.player-container {
  position: relative;
  height: 41.666666666666664vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  flex: 1;
}

.player-container svg {
  position: absolute;
  height: 31.25vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
  pointer-events: none;
}
.player-container svg circle {
  transition: all 0.2s ease-in-out;
}
.time-display {
  color: white;
  position: absolute;
  font-size: 2.6041666666666665vw;
  top: 26.041666666666668vw;
}

.play {
  cursor: pointer;
}

.final-container {
  background: #000;
  padding: 1.5625vw 5.729166666666667vw 1.5625vw 7.8125vw;
}

footer {
  display: flex;
  margin: auto;
  align-items: center;
  padding-top: 1.5625vw;
  padding-bottom: 0.5208333333333334vw;
}

.footer_logo,
.nav-linksft {
  display: flex;
}

.footer_logo {
  flex: 1;
}

.footer_logo img {
  width: 9.23828125vw;
  height: 2.7864583333333335vw;
}

nav {
  flex: 1.5;
}

/* Menu */

.nav-linksft {
  justify-content: flex-end;
  list-style: none;
}

.nav-linkft {
  text-decoration: none;
  font-size: 0.8333333333333334vw;
  padding-left: 2.0833333333333335vw;
  color: #637381;
}

.nav-linkft:hover {
  text-decoration: underline;
}

.credit {
  padding-bottom: 2.6041666666666665vw;
}

.credit p {
  font-size: 0.6333333333333334vw;
  color: #637381;
}

.credit a {
  font-size: 0.6333333333333334vw;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}
